.imagem{

height:122px;

}

:root{

    --verde: yellowgreen;
    --branco: white;
--azul: blue;
  --fundo-teclado: #34495e;
}

body{

    background: linear-gradient( #007bff, #ffffff);
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh; 
  
}



.teclado{

   background-color: var(--fundo-teclado);
  box-shadow: 6px 8px 0 6px #6A6685, 10px 10px 10px #06242E;
  border-radius: 30px;
  display:flex;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;

}
 .texto{
color: var(--branco);
  text-align: center;
  font-size: 3rem;
 }
